.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 80px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


.slider {
    position: absolute;
    cursor: pointer;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(177, 174, 174);
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 72px;
    width: 70px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }

input:checked + .slider {
    background-color: #0861f1;
  }

input:focus + .slider {
    box-shadow: 0 0 1px #1e09db;
  }
  
input:checked + .slider:before {
    transform: translateX(120px);
  }
  
.slider.round {
    border-radius: 50px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }


h1 {
  margin: 50px 0;
  font-size: 200px;
}
