.App {
  text-align: center;
}

.Switch__Div{
  height: 100vh;
  background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxNzA4MjFfMjA5/MDAxNTAzMjUyMDc1OTg4.GyYZe_c2MuOtei315PxWfVyVKnc6lRYE4_an7CnkMFYg.7HNmcSUWoQHoYQxLttCCxxwA6LJrzdhTh31NDXP6CkIg.GIF.btskook91/tumblr_oaj3l4xCUg1teycfyo1_540.gif?type=w2');
}

h1 {
  color: hwb(220 74% 24% / 0.9);
}

.backDisplay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}